:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, #bd34fe 30%, #41d1ff );
    --vp-home-hero-image-background-image: linear-gradient( 45deg, #124b45 50%, #00090a 50% );
    --vp-home-hero-image-filter: blur(50px) saturate(3.5);

    --vp-layout-max-width: 1600px;
    .VPDoc.has-aside .content-container{
        max-width: 100%;
    }
}

img{
    display: inline;
}

.image-src {
    border-radius: 58px;
    box-shadow: 0 3px 8px 6px rgba(7,17,27,0.05);
}

@media (min-width: 960px) {
    .image-src {
        max-width: 280px !important;
        max-height: 280px !important;
    }
}
